html, body{
    text-align: center;
    background-color: #fafafa;
    font-size: 20px;
    color: #333;
  }
  body{
    background-color: #ffffcc;
  }
  #button{
    border: 1px solid #333;
    width: 80%;
    background-color: #ffcccc;
  }